.about_conteiner {
    text-align: left;
}

.about_conteiner h2, .skills_conteiner h2, .cases_conteiner h2, .statistic_conteiner h2, .comment_conteiner h2, .contacts_conteiner h2 {
    font-size: 23px;
    color: #263244;
    font-weight: bold;
    font-size: 33px;
    text-align: center;
}

.about_conteiner p {
    color: #3f495a;
}

.about_conteiner button:hover{
    background: #344051;
    color: white;
}

.about_conteiner button:active {
    transform: scale(1.1);
    
}


.skills_conteiner {
    text-align: center;
    color: white;
    background: url(../img/bg_skill.jpg) center/cover no-repeat;
    background-attachment: fixed;
    height: 100%;
}


.service_bg_1 {
  background-image: url(../img/skill_web.jpg);
}

.service_bg_2 {
  background-image: url(../img/skill_create.jpg);
}

.service_bg_3 {
  background-image: url(../img/skill_seo.jpg);
}

.service_bg_4 {
  background-image: url(../img/skill_digital.jpg);
}

.skills_conteiner {
  margin-top: 36px;
}


.skills_conteiner .single_service {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.skills_conteiner .single_service .service_hover {
  padding: 104px 0 94px 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.skills_conteiner .single_service .service_hover h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}

.skills_conteiner .single_service .service_hover .hover_content {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  background: #28AE60;
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  transform: translateY(40%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.skills_conteiner .single_service .service_hover .hover_content .hover_content_inner {
  display: table-cell;
  vertical-align: middle;
  padding: 0 54px;
}



.skills_conteiner .single_service:hover {
  background-position: top;
}

.skills_conteiner .single_service:hover .hover_content {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}

.skills_conteiner .single_service:hover .service_hover {
  background: rgba(0, 0, 0, 0.5);
}


@media (max-width: 550px) {
    .skills_conteiner {
        background: url(../img/bg_skill_sm.jpg) center/cover no-repeat;
    }
}



.cases_conteiner {
    text-align: center;
}



.client_cases_conteiner, .project_cases_conteiner {
    text-align: left;
}

.client_cases_conteiner h4, .project_cases_conteiner h4{
    color: #384354;
    font-weight: bold;
    font-size: 25px;
}

.client_cases_conteiner p, .project_cases_conteiner p{
    color: #3f495a;
    text-indent: 3px;
}

.cases_button {
    width: 200px;
    height: 44px;
    background-color: #27720d; 
    border-radius: 5px;
    border-color: #27720d;
    font-size: 21px;
    transition: all, 0.2s;
    transform: scale(1);
}

.cases_button:hover {
    background: #344051;
    color: white;
}

.cases_button:active {
    transform: scale(1.1);
}

.cost_span {
    background-color: #f0f1f4;
    border: 2px solid #27720d;
    border-radius: 20px;
}

.cost_conteiner h2 {
    font-size: 33px;
    font-weight: bold;
    color: #102031;
    text-align: center;
}
.cost>label{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
}

.form-select {
    background-color: #efefef;
    color: #747474;
    font-size: 15px;
}

.hr_result_cost_conteiner {
	border: 1px solid #747474;
}

.result_cost_conteiner{
    font-size: 18px;
    font-weight: bold;
    margin-top: 28px;
    color: black;
}

.result_cost_conteiner p{
    display: inline;
}

 
.right{
    float: right;
    text-align: center;
}

.form-select {
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    transition: all, 0.4s;
    display: inline-block;
}


.form-select>option:checked{
    background: #c8dfc0;
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    transition: all, 0.4s;
    display: inline-block;
}

.form-select:hover {
    border: 2px solid;
    border-image:linear-gradient(to right,#27720d,#63b5ae) 10;
    background-color: white;
    box-shadow: 0px 0px 10px #27720d;
}
.cost button {
    width: 200px;
    height: 44px;
    background-color: #27720d; 
    border-radius: 5px;
    border-color: #27720d;
    font-size: 21px;
    transition: all, 0.2s;
    transform: scale(1);
}

.cost button:hover {
    background: #344051;
    color: white;
}

.cost button:active {
    transform: scale(1.1);
}

.statistic_conteiner {
    text-align: center;
    background: url(../img/bg_statistik.jpg) center/cover no-repeat;
    background-attachment: fixed;
    height: 100%;
}




.item_statistic_conteiner>svg {
    color: #27720d; 
}

.item_statistic_conteiner h4 {
    color: #384354;
    margin-top: 15px;
    font-weight: bold;
    font-size: 25px;
}

.item_statistic_conteiner p{
    color: #3f495a;
    margin-top: 15px;
    text-indent: 3px;
    line-height: 20px;
    font-size: 15px;
}

.carousel-indicators [data-bs-target] {
    height: 20px;
    width: 20px;
    background-color: #27720d !important;
}


@media (max-width: 550px) {
    .statistic_conteiner {
        background: url(../img/bg_statistik_sm.jpg) center/cover no-repeat;
    }
}

.comment_conteiner {
    text-align: center;
}

.comment_span {
    background-color: #f0f1f4;
    border: 2px solid #27720d;
    border-radius: 20px;
}


.contacts_conteiner {
    text-align: center;
    background: url(../img/bg_contact.jpg) center/cover no-repeat;
    color: white;
    height: 100%;
}

.contacts_conteiner h2 {
    color: #fff;
}



.item_contacts_conteiner>img { 
    margin-bottom: 15px;
}


.messange_contacts_conteiner>h3 {
    font-size: 15px;
    font-weight: bold;
}

.messange_contacts_conteiner {
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    transition: all, 0.4s;
}

.messange_contacts_conteiner input, .messange_contacts_conteiner textarea {
    height: 34px;
    background-color: #d5dbe1;
    line-height: 34px;
    padding-left: 14px;
    color: #5d5d5e;
}

.messange_contacts_conteiner textarea {
    height: 94px;
} 

.messange_contacts_conteiner input:hover, .messange_contacts_conteiner textarea:hover, 
.messange_contacts_conteiner button {
    border: 2px solid;
    border-image:linear-gradient(to right,#27720d,#63b5ae) 10;
/*    background-color: white;*/
    box-shadow: 0px 0px 10px #27720d;
}


.messange_contacts_conteiner button {   
    width: 123px;
    height: 44px;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 14px;
    transition: all, 0.2s;
    transform: scale(1);
}

.messange_contacts_conteiner button:hover {
    background: #344051;
    color: white;
}

.messange_contacts_conteiner button:active {
    transform: scale(1.2);
}

.mess_nav {
    border-radius: 50%;
    height: 55px;
    width: 55px;
    line-height: 55px;
    margin-left: 10px;
    transition: all, 0.2s;
    transform: scale(1);
}


.mess_nav:hover{
    background: #28ae60;
    color: white;
}

.mess_nav:active {
    transform: scale(0.8);
}

@media (max-width: 550px) {
    .contacts_conteiner {
        background: url(../img/bg_contact_sm.jpg) center/cover no-repeat;
    }
}


.footer {
    height: 60px;
    background-color: #354051; 
    text-align: center;
    color: #fff;
    line-height: 60px;
}



.element-animation {
    opacity: 0;
    margin-top: -100px;
    
}

.element-animation.show-animation {
    opacity: 1;
    margin-top: 0;
    transition: opacity 2s;
    transition: margin-top 2s;
    
}

