body {
    font-family: Arial,sans-serif;
}
nav {
    width: 100%;
    height: 60px;
    background: #344051; 
    position: fixed;  /*меню прилипло к верхнему краю*/
    z-index: 1;
}
.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 15%;
    float: left;
    -webkit-animation: comming 2s ease; /*включаем анимацию на 2с*/
    -o-animation: comming 2s ease ;    /*анимация описана ниже в keyframe*/
    animation: comming 2s ease ;
}

.menu {
    float: left;
    padding-left: 18%;
}
.menu li {
    float: left;
    line-height: 60px;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;

}

.menu li:nth-child(2) {    /*обращение к элементу из списка*/
    animation-delay: 0.4s; /*задержка элемента*/ 
}

.menu li:nth-child(3) {    /*обращение к элементу из списка*/
    animation-delay: 0.8s; /*задержка элемента*/ 
}

.menu li:nth-child(4) {    /*обращение к элементу из списка*/
    animation-delay: 1.2s; /*задержка элемента*/ 
}

.menu li:nth-child(5) {    /*обращение к элементу из списка*/
    animation-delay: 1.6s; /*задержка элемента*/ 
}

.menu li:nth-child(6) {    /*обращение к элементу из списка*/
    animation-delay: 2s; /*задержка элемента*/ 
}


.menu li a { 
    transition: all 0.1s; /*анимация при каких-либо действиях, в течениии 0,1с*/
    transform: scale(1); /**/
    display: inline-block;
    color: #fff;
}

.menu li a:visited { /*при стандартном показе*/
    color: white;
}

.menu li a:hover { /*при наведении*/
    color: #e88604;    /*меняем цвет*/
}

.menu li a:active { /*при нажатии*/
    transform: scale(1.1); /*увеличиваем блок*/
}

main {
    width: 100%;
    height: 100%; 
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.png) center/cover no-repeat;
}

.titel_conteiner { 
    float: left;
    margin: 20% 0px 0px 20%;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titelmove 1s ease forwards;
    -o-animation: titelmove 1s ease forwards;
    animation: titelmove 1s ease forwards;    
    animation-delay: 2s;
}

.titel_conteiner h1 {
    font-size: 60px;
    font-weight: bold;
    
}
.titel_conteiner h4 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
    color: #79818d;
}

.titel_conteiner input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 28px 0px 14px;
    transition: all, 0.2s;
    transform: scale(1);
}

.titel_conteiner input:hover , .about_conteiner input:hover{
    background: #344051;
    color: white;
}

.titel_conteiner input:active, .about_conteiner input:active {
    transform: scale(1.1);
}




.about_conteiner h2, .skills_conteiner h2, .cases_conteiner h2, .statistic_conteiner h2, .comment_conteiner h2, .contacts_conteiner h2 {
    text-align: center; 
    font-size: 23px;
    color: #263244;
    font-weight: bold;
    margin-top: 110px;
}

.about_conteiner h2, .about_conteiner>.img_trait {
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards;
    opacity: 0;
    animation-delay: 2.4s;     
}

.img_trait {
    text-align: center;   
    margin-top: 32px; 
    margin-bottom: 37px;
}


.about_conteiner {
    float: left;
    color: #fcfdfd;
    width: 100%;
    text-align: center;

}


.img_about_conteiner { 
    margin-top: calc(59px - 37px);
}

.about_conteiner p {
    margin: 24px 30% 24px 30%;
    color: #3f495a;
}



.about_conteiner input {
    background: url(../img/IconSave.png) 8px/13px 12px no-repeat;
    padding: 8px 10px 10px 25px;
    height: 34px;
    border: 2px solid #6f707e;
    border-radius: 5px;
    color: #6f707e;
    font-size: 13px;
    margin-bottom: 97px;
}

.img_about_conteiner, .about_conteiner p, .about_conteiner input {
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards;
    opacity: 0;
    animation-delay: 2.8s; 
}

.skills_conteiner h2, .skills_conteiner>.img_trait {
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards;
    opacity: 0;
    animation-delay: 3.2s;     
}

.skills_conteiner {
    background: url(../img/bg_skill.png) center/cover no-repeat;
    float: left;
    color: #fcfdfd;
    width: 100%;
    text-align: center;
    background-attachment: fixed;
}


.items_skills {
    padding: calc(100px - 37px) 10% 45px 10%;
}



.item_skills_conteiner_right {
    margin: 0px 4%;
    padding-bottom: 95px;
    width: 17%;
    float: left;
    font-size: 16px;
    -webkit-animation: itemright 2s ease forwards;
    -o-animation: itemright 2s ease forwards;
    animation: itemright 2s ease forwards; 
    animation-delay: 3.6s;    
    opacity: 0; 
}

.item_skills_conteiner_left {
    margin: 0px 4%;
    padding-bottom: 95px;
    width: 17%;
    float: right;
    font-size: 16px;
    -webkit-animation: itemleft 2s ease forwards;
    -o-animation: itemleft 2s ease forwards;
    animation: itemleft 2s ease forwards; 
    animation-delay: 3.6s;    
    opacity: 0; 
}



.item_skills_conteiner_right h4, .item_skills_conteiner_left h4 {
    color: #cf7600;
    margin-top: 36px;
    font-weight: bold;
    font-size: 14px;
}

.item_skills_conteiner_right p, .item_skills_conteiner_left p {
    float: left;
    color: #3f495a;
    margin-top: 20px;
    font-weight: bold;
    font-size: 10px;    
    line-height: 15px;
}

.skills_conteiner h2, .skills_conteiner>.img_trait {
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards;
    opacity: 0;
    animation-delay: 3.2s;     
}



.cases_conteiner {
    float: left;
    text-align: center;
    margin-top: 0px;
    width: 100%
}
.cases_conteiner>img {
    float: left;
    margin: 48px 20% 0px 20%;
    background-size: cover;
    width: 60%;
}

.client_cases_conteiner {
    margin-left: 20%;
    text-align: left;
    float: left;
    margin-bottom: 180px;
}

.project_cases_conteiner {
    margin-left: 7%;
    text-align: left;
    float: left;  
    width: 40%;
}

.client_cases_conteiner h4, .project_cases_conteiner h4{
    color: #384354;
    margin-top: 15px;
    font-weight: bold;
    font-size: 17px;
}

.client_cases_conteiner p, .project_cases_conteiner p{
    color: #3f495a;
    margin-top: 15px;
    text-indent: 3px;
    line-height: 20px;
    font-size: 12px;
}


.client_cases_conteiner input {
    padding: 15px 40px;
    width: 200px;
    height: 44px;
    background-color: #63b5ae; 
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    margin-top: 26px;
    transition: all, 0.2s;
    transform: scale(1);
}

.client_cases_conteiner input:hover {
    background: #344051;
    color: white;
}

.client_cases_conteiner input:active {
    transform: scale(1.1);
}


.cases_conteiner h2, .cases_conteiner>.img_trait {
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards;
    opacity: 0;
    animation-delay: 4s;     
}

.client_cases_conteiner, .cases_conteiner p, .project_cases_conteiner, .cases_conteiner>img {
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards;
    opacity: 0;
    animation-delay: 4.4s; 
}



.cost_conteiner {
    float: left;
    color: #fcfdfd;
    width: 100%;
}


.cost_conteiner h2{
    font-size: 23px;
    color: #263244;
    font-weight: bold;
    text-align: center;
}

.cost_conteiner>label {
    font-weight: bold;
    font-size: 20px;
    color: #263244;
    margin-left: 30%;
    margin-top: 50px;
    display: inline-block;
    padding-left: 1%;
}


.select_cost_conteiner {
    margin-left: 30%;
    margin-top: 22px;
    width: 40%;
    background-color: #eee; 
    height: 57px;
    padding: 0 1%;
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    transition: all, 0.4s;
    display: inline-block;
}


.select_cost_conteiner>option:checked{
    background: #f2c68d;
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    transition: all, 0.4s;
    display: inline-block;
}

.select_cost_conteiner:hover {
    border: 2px solid;
    border-image:linear-gradient(to right,#FFA500,#63b5ae) 10;
    background-color: white;
    box-shadow: 0px 0px 10px #FFA500;
}



.hr_result_cost_conteiner {
    margin-top: 37px;
    margin-left: 30%;
    width: 40%;
	border-top: 1px solid #d1d1d1;
}

.result_cost_conteiner{
    font-size: 18px;
    font-weight: bold;
    margin-left: 30%;
    width: 40%;
    margin-top: 28px;
    color: #263244;
}
.cost_conteiner{
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards;
    opacity: 0;
    animation-delay: 4.8s; 
}
 
.right{
    float: right;
    text-align: center;
}


.statistic_conteiner {
    background: url(../img/bg_statistik.png) center/cover no-repeat;
    float: left;
    text-align: center;
    width: 100%;
    height: 500px;
    margin-top: 150px;
    background-attachment: fixed;
}

.items_statistic {
    margin: 0px 15%;
}


.item_statistic_conteiner_right h4, .item_statistic_conteiner_left h4 {
    color: #384354;
    margin-top: 15px;
    font-weight: bold;
    font-size: 23px;
}

.item_statistic_conteiner_right p, .item_statistic_conteiner_left p {
    color: #3f495a;
    margin-top: 15px;
    text-indent: 3px;
    line-height: 20px;
    font-size: 12px;
}


.statistic_conteiner h2, .statistic_conteiner>.img_trait {
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards;
    opacity: 0;
    animation-delay: 5.2s;     
}


.item_statistic_conteiner_right {
    margin-left: 7%;
    text-align: center;
    float: left;
    width: 16%;
    -webkit-animation: itemright 2s ease forwards;
    -o-animation: itemright 2s ease forwards;
    animation: itemright 2s ease forwards; 
    animation-delay: 5.6s;   
    opacity: 0; 
}

.item_statistic_conteiner_left {
    margin-right: 7%;
    text-align: center;
    width: 16%;
    float: right;
    -webkit-animation: itemleft 2s ease forwards;
    -o-animation: itemleft 2s ease forwards;
    animation: itemleft 2s ease forwards; 
    animation-delay: 5.6s;    
    opacity: 0; 
}

.comment_conteiner {
    float: left;
    color: #fcfdfd;
    width: 100%;
    text-align: center;
}

.comment_conteiner>img { 
    margin-top: calc(59px - 37px);
}

.comment_conteiner p {
    margin: 24px 30% 24px 30%;
    color: #3f495a;
}


.comment_conteiner>input {
    margin-bottom: 97px;
}


.comment_conteiner h2, .comment_conteiner>.img_trait {
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards;
    opacity: 0;
    animation-delay: 6s;     
}


.comment_conteiner>img, .comment_conteiner p, .comment_conteiner>input {
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards;
    opacity: 0;
    animation-delay: 6.4s; 
}


.contacts_conteiner {
    background: url(../img/bg_contact.png) center/cover no-repeat;
    float: left;
    width: 100%;
    height: 808px;
    color: #fff;
    text-align: center; 
    background-attachment: fixed;
}

.contacts_conteiner h2 {
    color: #fff;
}

.item_contacts {
    margin: 47px 15% 0px 27%;
}

.item_contacts_conteiner {
    margin-left: 7%;
    text-align: center;
    float: left;  
    width: 17%;
}

.item_contacts_conteiner>img { 
    margin-bottom: 15px;
}

.messange_contacts_conteiner {
    float: left;
    color: #fcfdfd;
    text-align: center;
    width: 100%;
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    transition: all, 0.4s;
    display: inline-block;
}

.messange_contacts_conteiner>h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 38px;
    margin-bottom: calc(46px - 14px);
}


.messange_contacts_conteiner>input, .messange_contacts_conteiner>textarea {
    margin: 14px;
    width: 352px;
    height: 34px;
    background-color: #d2d6dc;
    line-height: 34px;
    padding-left: 14px;
    color: #5d5d5e;
}

.messange_contacts_conteiner>textarea {
    width: 733px;
    height: 94px;
} 



.messange_contacts_conteiner input:hover, .messange_contacts_conteiner textarea:hover {
    border: 2px solid;
    border-image:linear-gradient(to right,#FFA500,#63b5ae) 10;
    background-color: white;
    box-shadow: 0px 0px 10px #63b5ae;
}

.submit_mess_contacts>input {   
    margin-top: calc(28px - 14px);
    width: 123px;
    height: 44px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    font-size: 14px;
    padding: 12px;
    transition: all, 0.2s;
    transform: scale(1);
}

.contacts_conteiner h2, .contacts_conteiner>.img_trait {
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards;
    opacity: 0;
    animation-delay: 6.8s;     
}

.item_contacts {
    -webkit-animation: itemright 2s ease forwards;
    -o-animation: itemright 2s ease forwards;
    animation: itemright 2s ease forwards; 
    animation-delay: 7.2s;   
    opacity: 0; 
}


.contacts_conteiner>img, .contacts_conteiner p, .messange_contacts_conteiner {
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards;
    opacity: 0;
    animation-delay: 7.6s; 
}

.messange_contacts_conteiner>input:focus, .messange_contacts_conteiner>textarea:focus {
    background-color: white;
}


.submit_mess_contacts input:hover {
    background: #344051;
    color: white;
}

.submit_mess_contacts input:active {
    transform: scale(1.1);
}

.map_contacts_conteiner {
    float: left;
    width: 100%;
    height: 350px;
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards; 
    animation-delay: 8s;   
    opacity: 0; 
}

.footer {
    float: left;
    width: 100%;
    height: 90px;
    background-color: #354051; 
    text-align: center;
    color: #fff;
    line-height: 90px;
    font-size: 13px;
    -webkit-animation: titelmain 2s ease forwards;
    -o-animation: titelmain 2s ease forwards;
    animation: titelmain 2s ease forwards; 
    animation-delay: 8.4s;   
    opacity: 0; 
}


#loader {
    width: 4.3em;
    height: 9.8em;
    font-size: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: rotating 2s linear infinite;
}

#loader::after {
    content: '';
    position: absolute;
    width: 0.2em;
    height: 4.8em;
    background-color: #63b5ae;
    top: 1em;
    animation: flow 2s linear infinite;
}

.top,
.bottom {
    width: 3.5em;
    height: 3.5em;
    border-style: solid;
    border-color: #FFA500;
    border-width: 0.2em 0.2em 0.6em 0.6em;
    border-radius: 50% 100% 50% 30%;
    overflow: hidden;
}


.top {
    transform: rotate(-45deg);
}

.bottom {
    transform: rotate(135deg);
}

.top::before,
.bottom::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #344051;
    animation: 2s linear infinite;
}

.top::before {
    border-radius: 0 100% 0 0;
    animation-name: drop-sand;
}

.bottom::before {
    border-radius: 0 0 0 35%;
    transform: translate(2.5em, -2.5em);
    animation-name: fill-sand;
}


@keyframes drop-sand {
    to {
        transform: translate(-2.5em, 2.5em);
    }
}


@keyframes fill-sand {
    to {
        transform: translate(0, 0);
    }
}




@keyframes flow {
    10%, 100% {
        transform: translateY(3.2em);
    }
}


@keyframes rotating {
    0%, 90% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(0.5turn);
    }
}


@keyframes comming {
    from {
        opacity: 0;
    }    
    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }    
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes titelmove {
    from {
        opacity: 0;
        margin-left: -500px;
    }    
    to {
        opacity: 1;
        margin-left: 20%
    }
}

@keyframes titelmain {
    from {
        opacity: 0;
        margin-top: 0px; 
    }
    
    to {
        opacity: 1;
    }
}

@keyframes itemright {
    from {
        opacity: 0;
        margin-left: -300%;
    }
    to {
       opacity: 1; 
    }
}

@keyframes itemleft {
    from {
        opacity: 0;
        margin-right: -300%;
    }
    to {
       opacity: 1; 
    }
}

/*@keyframes slide {

  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px);  The image width 
  }
}*/
