body {
    font-family: Arial,sans-serif;
}
nav {
    width: 100%;
    height: 60px;
    background: #344051; 
}
.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 15%;
    float: left;
}
.menu {
    float: left;
    padding-left: 18%;
}
.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.png) center/cover no-repeat;
}

.titel_conteiner {    
    float: left;
    margin: 15% 0px 0px 20%;
    color: #2c384a;
    text-align: center;
    
}

.titel_conteiner h1 {
    font-size: 60px;
    font-weight: bold;
    
}
.titel_conteiner h4 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
    color: #79818d;
}

.titel_conteiner input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 28px 0px 14px;
}

.about_conteiner h2, .skills_conteiner h2, .cases_conteiner h2, .statistic_conteiner h2, .comment_conteiner h2,  .contacts_conteiner h2 {
    text-align: center;    
    font-size: 23px;
    color: #263244;
    font-weight: bold;
    margin-top: 110px;
}

.img_trait {
    text-align: center;   
    margin-top: 32px; 
    margin-bottom: 37px;
}


.about_conteiner, .comment_conteiner {
    float: left;
    color: #fcfdfd;
    text-align: center;
    margin: 0px 25% 95px 25%;    
}


.img_about_conteiner, .comment_conteiner>img { 
    margin-top: calc(59px - 37px);
}

.about_conteiner p, .comment_conteiner p {
    margin: 24px 0px 24px 0px;
    color: #3f495a;
}


.about_conteiner input {
    background: url(../img/IconSave.png) 8px/13px 12px no-repeat;
    padding: 8px 10px 10px 25px;
    height: 34px;
    border: 2px solid #6f707e;
    border-radius: 5px;
    color: #6f707e;
    font-size: 13px;
}

.skills_conteiner {
    background: url(../img/bg_skill.png) center/cover no-repeat;
    float: left;
    text-align: center;
    width: 100%;
}

.items_skills {
    padding: calc(100px - 37px) 10% 45px 10%;
}

.item_skills_conteiner {
    margin: 0px 4%;
    padding-bottom: 95px;
    width: 17%;
    float: left;
    font-size: 16px;
}


.item_skills_conteiner h4 {
    color: #cf7600;
    margin-top: 36px;
    font-weight: bold;
    font-size: 14px;
}

.item_skills_conteiner p {
    float: left;
    color: #3f495a;
    margin-top: 20px;
    font-weight: bold;
    font-size: 10px;    
    line-height: 15px;
}

.cases_conteiner {
    float: left;
    text-align: center;
    margin-top: 0px;
    width: 100%
}
.cases_conteiner>img {
    float: left;
    margin: 48px 20% 0px 20%;
    background-size: cover;
    width: 60%;
}

.client_cases_conteiner {
    margin-left: 20%;
    text-align: left;
    float: left;
    margin-bottom: 180px;
}

.project_cases_conteiner {
    margin-left: 7%;
    text-align: left;
    float: left;  
    width: 40%;
}

.client_cases_conteiner h4, .project_cases_conteiner h4{
    color: #384354;
    margin-top: 15px;
    font-weight: bold;
    font-size: 17px;
}

.client_cases_conteiner p, .project_cases_conteiner p{
    color: #3f495a;
    margin-top: 15px;
    text-indent: 3px;
    line-height: 20px;
    font-size: 12px;
}


.client_cases_conteiner input {
    padding: 15px 40px;
    width: 200px;
    height: 44px;
    background-color: #63b5ae; 
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    margin-top: 26px;
    
}

.cost_conteiner {
    font: left;
    margin-bottom: 155px;
}
.cost_conteiner h2{
    font-size: 23px;
    color: #263244;
    font-weight: bold;
    text-align: center;
}

.cost_conteiner h4 {
    font-weight: bold;
    font-size: 20px;
    color: #263244;
    margin-left: 30%;
    margin-top: 50px;
}

.select_cost_conteiner {
    margin-left: 30%;
    margin-top: 22px;
    width: 40%;
    background-color: #eee; 
    height: 57px;
    padding-left: 1%;
}

.statistic_conteiner {
    background: url(../img/bg_statistik.png) center/cover no-repeat;
    float: left;
    text-align: center;
    width: 100%;
    height: 500px;
}

.items_statistic {
    margin: 0px 15% 0px 15%;
}

.item_statistic_conteiner {
    margin-left: 7%;
    text-align: center;
    float: left;  
    width: 17%;
}

.item_statistic_conteiner h4 {
    color: #384354;
    margin-top: 15px;
    font-weight: bold;
    font-size: 23px;
}

.item_statistic_conteiner p{
    color: #3f495a;
    margin-top: 15px;
    text-indent: 3px;
    line-height: 20px;
    font-size: 12px;
}


.contacts_conteiner {
    background: url(../img/bg_contact.png) center/cover no-repeat;
    float: left;
    width: 100%;
    height: 1156px;
    color: #fff;
    text-align: center; 
}

.contacts_conteiner h2 {
    color: #fff;
}


.item_contacts {
    float: left;
    color: #fcfdfd;
    text-align: center;
    margin-left: 30%;
/*    margin: 47px 25% 95px 25%;    */
}
.item_contacts_conteiner {
    float: left;
    margin-top: 47px;
    width: 180px;
    font-size: 11px;
    line-height: 15px;
}

.item_contacts_conteiner>img { 
/*    margin-top: calc(59px - 37px);*/
    margin-bottom: 15px;
}

.messange_contacts_conteiner {
    float: left;
    margin-top: 40px;
    margin-left: 28%;
}

.messange_contacts_conteiner h3 {
    font-size: 15px;
    text-align: center;
    color: #fcfdfd;
    margin-bottom: calc(46px - 14px);
}

.messange_contacts_conteiner>input, .messange_contacts_conteiner>textarea {
    margin: 14px;
    width: 352px;
    height: 34px;
    background-color: #d2d6dc;
    line-height: 34px;
    padding-left: 14px;
    color: #5d5d5e;
}

.messange_contacts_conteiner>textarea {
    width: 733px;
    height: 94px;
} 


.img_contacts_conteiner li {
    float: left;
    text-align: center;
    margin-right: 40px;
}
















